.page-content {
    background-image: url(../imgs/divbackground.jpg);
    background-attachment: fixed;
}
.box.events {
    background-color: rgba(253, 250, 250, 0.85)
}
.buffer {
    height: 30px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: pink;
}


.navbar-expand-lg {
    margin-top: -70px;
    transition: all 0.4s ease 0s;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background-color: #f9f9f9;
  position: fixed;
  height: 110%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  font-size: 20px;
  line-height: 50px;
  padding-top: 110px;
  padding-left: 10px;
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
}

@media (max-width:767px) {
  /* #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    left: 0;
  }
  #wrapper.active {
    position: relative;
    left: 250px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  } */
  .navbar-expand-lg {
    margin-top: 0px;
    transition: all 0.4s ease 0s;
  }
}

.events {
    background-color: #cccccc;
}

.headline{
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 45px;
}

.subhead {
    font-size: 20px;
    line-height: 30px;
}

.event-info{
    font-size: 16px;
    line-height:24px;
}

.fas {
    text-align: left;
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
  transition: all 0.4s ease 0s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.sticky-offset {
    padding-top: 70px !important;
}

#sidebar-img {
    width: 100%;
}

.hide-logo {
    display: none;
}

.hide-padding {
    padding-top: 15px !important;
