.header {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cadetblue;
}

.buffer {
    height: 30px;
}

.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: pink;
}